
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đơn hàng của quí khách đã được chúng tôi ghi nhận.Chúng tôi sẽ liên hệ quí khách trong thời gian sớm nhất và giao hàng đúng hẹn</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ","Index","BookStore")
</p>

